{
  "root": true,
  "extends": ["airbnb-base", "prettier", "plugin:jest/recommended"],
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": ["error"],
    "class-methods-use-this": ["warn"],
    "import/prefer-default-export": ["warn"],
    "no-await-in-loop": ["warn"]
  }
}
