# 注册模块镜像
registry=https://registry.npmmirror.com

# node-gyp 编译依赖的 node 源码镜像
disturl=https://npmmirror.com/mirrors/node/

# chromedriver
chromedriver_cdnurl=https://cdn.npmmirror.com/binaries/chromedriver/

# operadriver
operadriver_cdnurl=https://npmmirror.com/mirrors/operadriver/

# phantomjs
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs/

# node-sass
sass_binary_site=https://npmmirror.com/mirrors/node-sass/

# electron
electron_mirror=https://npmmirror.com/mirrors/electron/

# sqlite3
sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/sqlite3/
SQLITE3_BINARY_SITE=https://npmmirror.com/mirrors/sqlite3/

# node-inspector
profiler_binary_host_mirror=https://npmmirror.com/mirrors/node-inspector/
node_inspector_cdnurl=https://npmmirror.com/mirrors/node-inspector/

# selenium - 自动化测试框架
selenium_cdnurl=https://npmmirror.com/mirrors/selenium/

# puppeteer - https://pptr.dev/
puppeteer_download_host=https://npmmirror.com/mirrors
